form{
    background-color: steelblue;
    width: 60%;
    margin: auto;
    padding: 30px;
}
.first{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
label{
    width: 25%;
    margin-right:5px ;

}
input[type=text],input[type=email],input[type=password],input[type=textarea]{
    width: 60%;
    height: 40px;
    color: #888888;
}
fieldset{
    border: #00ffb2;
}
input[type=text],input[type=email]:focus,input[type=password]{
    background-color: #555555;
}